<mat-dialog-content >
    <div class="d-flex align-items-center justify-content-between">
        {{ title }}
        <div class="d-flex align-items-center gap-2">
          <div matRipple class="close" (click)="onCancel()">
            <i class="fa-solid fa-close"></i>
          </div>
        </div>
    </div>
  
    <mat-divider class="my-3"></mat-divider>
  
    <form *ngIf="!_data" [formGroup]="form" class="mt-3" style="overflow: hidden;">
  
      <div class="row">

        <div class="col mb-3">
            <span class="fw-bolder">Nome</span>
            <mat-form-field appearance="outline">
              <input type="text" formControlName="name" matInput placeholder="Nome da instância" />
            </mat-form-field>
          </div>
      </div>
  
    </form>
  
  
</mat-dialog-content>

<mat-dialog-content *ngIf="_data">
    <div class="d-flex justify-content-center align-items-center">
        <img src="{{ _data.base64 }}" alt="qrcode para conectar no whatsapp">
    </div>
</mat-dialog-content>
  
  <mat-dialog-actions *ngIf="!_data" >
    <div class="w-100 me-2">
      <div id="actionsDialog" class="flex-sm-row flex-column">
        @if(loading) {
        <div matRipple class="me-auto me-sm-0 mb-sm-0 mb-2 loading">
          <mat-spinner></mat-spinner>
        </div>
        }
  
        <div id="buttonsDialog" class="flex-sm-row flex-column">
          <div class="col-auto">
            <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
          </div>
          <div class="col-auto">
            <button matRipple id="submit" class="button primary" (click)="!loading ? onConfirm() : null">{{
              "Salvar"
              }}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
  