<div class="web-chat-item-container" (click)="clicked($event, data)" [ngClass]="{'active': router.url === '/painel/web-chat/' + data.remoteJid}">
  <div class="web-chat-item-avatar">
    <app-avatar [hidden]="data.unread_count == 0 || eventClick" [qtdBadge]="data.unread_count" [size]="50" [imageUrl]="data?.profilePicUrl" [altText]="'altText'"></app-avatar>
  </div>
  <div class="web-chat-item-details">
    <div class="web-chat-item-details-primary">
      <div class="web-chat-item-details-primary-left">
        <h4>
          {{ data?.name }}
         <!-- @if (data && data.tag) {
            <span class="tag">{{ data.tag }}</span>
          }-->
        </h4>
        <p>{{ formatDate(data?.updated_at) }}</p>
      </div>
<!--      <i class="fa-solid fa-ellipsis-vertical"></i>-->
    </div>
    <div class="web-chat-item-info">
      <p class="emoji-style" [innerHTML]="formatMessage(data?.last_message?.message)"></p>
      <button
      *ngIf="data.status === ContactStatus.Waiting"
      (click)="updateStatus(data.id, ContactStatus.Responding, $event)">
        Aceitar
      </button>

      <button
      *ngIf="data.status === ContactStatus.Responding"
      (click)="updateStatus(data.id, ContactStatus.Finished, $event)">
        Finalizar
      </button>

      <button
      *ngIf="data.status === ContactStatus.Finished"
      (click)="updateStatus(data.id, ContactStatus.Responding, $event)">
        Reatender
      </button>
    </div>
  </div>
</div>
