
<div class="mt-5 d-flex justify-content-start">
  <button matRipple class="button" (click)="createNewInstance()">
    <i class="fa-solid fa-circle-plus"></i> Nova instância
  </button>
</div>

<div class="row mt-4">
  <app-loading [loading]="loading"></app-loading>
  @for (item of instances; track item) {
    <div class="col-lg-3 col-md-6">
      <app-small-information-card
      (onCardClick)="onCardClick($event)"
      (onDeleteClick)="onDelete($event.id, $event.event)"
      [data]="item"></app-small-information-card>
    </div>
  }
</div>
