th{
    text-align: end !important;
}

.Pending, .Finished{
    color: white;
    padding: 0 5px;
    border-radius: 10px;
    font-weight: 600;
}

.Pending{
    background-color: orange;
}

.Finished{
    background-color: green;
}
