<div class="table-container">

    <div class="overflow-auto">
      <table class="table table-responsive">
        <thead>
          @for (col of columns; track col) {
            <th
              [class.hasorder]="col.order"
              [ngStyle]="{ cursor: 'pointer' }"
              [class.active-order]="pageControl.orderField === col.slug"
              [class]="col.align"
            >
              <!--(click)="onClickOrderBy(col.slug, col.order)" -->
              <div
                style="color: #a2a1a8"
                [class]="col.align"
              >
                {{ col.title }}
                <i class="material-icons" *ngIf="pageControl.orderField === col.slug">
                  {{
                    pageControl.order === "DESC" ? "arrow_downward" : "arrow_upward"
                  }}
                </i>
              </div>
            </th>
          }
        </thead>
        <tbody>
        <tr *ngIf="loading">
          <td [attr.colspan]="columns.length + 1">
            <div id="mat-loading">
              <mat-spinner></mat-spinner>
            </div>
          </td>
        </tr>
          @if (!loading) {
            <tr *ngIf="!triggerings?.length">
              <td [attr.colspan]="columns.length + 1" class="text-center">
                <div>Nenhum resultado encontrado</div>
              </td>
            </tr>
            @for (triggering of triggerings; track triggering) {
              <tr
                class="table-line-hover"
                style="outline: none; cursor: pointer"
              >
                <td>
                  <div class="text-start">
                    {{ triggering?.description }}
                  </div>
                </td>           
                <td>
                  <div class="text-start">
                    {{ triggering?.list?.description }}
                  </div>
                </td>
                <td>
                  <div class="text-end">
                    {{ triggering?.notfound_contacts }}
                  </div>
                </td>   
                <td>
                  <div class="text-end">
                    {{ triggering?.pending_contacts }}
                  </div>
                </td> 
                <td>
                  <div class="text-end">
                    {{ triggering?.remaining_time }}
                  </div>
                </td> 
                <td>
                  <div class="text-center {{ triggering?.status }}">
                    {{ triggering?.status | status }}
                  </div>
                </td>  
                <td>
                  <div class="d-flex justify-content-end">
                    <div matRipple class="buttonTemplate" (click)="onLinkView.emit(triggering)">
                      <i class="fa-solid fa-pen"></i>
                    </div>
  
                    <div matRipple class="buttonTemplate" (click)="onDeleteLinkClick.emit(triggering?.id)">
                      <i class="fa-solid fa-trash"></i>
                    </div>
                  </div>
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
    <mat-paginator
      [length]="pageControl.itemCount"
      [pageSize]="pageControl.take"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[10, 25, 50, 100]"
      [hidePageSize]="false"
      [pageIndex]="pageControl.page - 1"
      aria-label="Select page"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  
  </div>
  