<mat-dialog-content >
    <app-loading [loading]="loading"></app-loading>
    <div class="d-flex align-items-center justify-content-between">
        {{ title }}
        <div class="d-flex align-items-center gap-2">
          <div matRipple class="close" (click)="onCancel()">
            <i class="fa-solid fa-close"></i>
          </div>
        </div>
    </div>
  
    <mat-divider class="my-3"></mat-divider>
  
    <form [formGroup]="form" class="mt-3" style="overflow: hidden;">
        <div class="row">
          <div class="col col-md-12">
            <span class="fw-bolder">Mensagem de boas-vindas</span>
            <mat-form-field appearance="outline" class="w-100">
              <textarea formControlName="welcome_message" matInput placeholder="Ao entrar no grupo"></textarea>
            </mat-form-field>
          </div>
      
          <div class="col col-md-12 mt-3">
            <span class="fw-bolder">Mensagem ao sair do grupo</span>
            <mat-form-field appearance="outline" class="w-100">
              <textarea formControlName="farewell_message" matInput placeholder="Ao sair do grupo"></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>
      
  
</mat-dialog-content>


  <mat-dialog-actions *ngIf="!_data.view">
    <div class="w-100 me-2">
      <div id="actionsDialog" class="flex-sm-row flex-column">
        <div id="buttonsDialog" class="flex-sm-row flex-column">
          <div class="col-auto">
            <button matRipple id="cancel" class="button cancel" (click)="onCancel()">Cancelar</button>
          </div>
          <div class="col-auto">
            <button matRipple id="submit" class="button primary" (click)="!loading ? onConfirm() : null">{{
              "Salvar"
              }}</button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-actions>
  