<div class="balloon-body"
     [ngClass]="data.fromMe ? 'right' : 'left'"
     [ngStyle]="isOnlyEmoji(data.message) ? {
     'background-color': 'rgba(255,255,255,0)',
     'font-size': '3rem'
     } : {}"
>
  <div class="balloon-header" *ngIf="!titleHidden">
    <div class="name">{{ data.fromMe }}</div>
    <div class="phone">{{ data.phone }}</div>
  </div>
  <div class="balloon-content">
    <p class="emoji-style" [innerHTML]="formatMessage(data.message)"></p>
  </div>

  <div class="balloon-footer">
    <p>{{ formatDate(data.updated_at) }}</p>
  </div>
</div>
