<div class="cards">
    <app-loading [loading]="loading"></app-loading>
    <div class="card" *ngFor="let schedule of schedules">        
        <div class="card-body">

            <div class="midia">
                <img
                *ngIf="schedule.midia === 'imagem'"
                src="{{ schedule?.image_path ?? 'assets/images/imagem.png'}}"
                >
        
                <img
                *ngIf="schedule.midia === 'audio'"
                src="assets/images/audio.png"
                >
        
                @if(schedule?.video_path && schedule.midia === 'video'){
                  <video autoplay src="{{ schedule?.video_path }}"></video>
                }
                @else {
                  <img
                  *ngIf="schedule.midia === 'video'"
                  src="assets/images/video.png"
                  >
                }
            </div>
            <p class="card-text mt-2" [innerHTML]="processText(schedule.text)">
            </p>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <button
            class="btn btn-primary btn-sm"
            (click)="onCardClick.emit(schedule)"
            >
            Importar
            <i class="fa-solid fa-download"></i>
          </button>
          <button
            class="btn btn-secondary btn-sm"
            (click)="editLibrary(schedule)"
            *ngIf="isAdmin"
            >
            Editar
            <i class="fa-solid fa-pen"></i>
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="delete(schedule.id, $event)"
            *ngIf="isAdmin"
            >
            Deletar
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
    </div>

</div>
