<div class="cards">
    <app-loading [loading]="loading"></app-loading>
    <div class="card" (click)="onCardClick.emit(schedule)" *ngFor="let schedule of schedules">
        <button
        class="delete"
        (click)="delete(schedule.id, $event)"
        >
        <i class="fa-solid fa-trash"></i>
        </button>
        <div class="card-body">

            <div class="midia">
                <img
                *ngIf="schedule.midia === 'imagem'"
                src="{{ schedule?.image_path ?? 'assets/images/imagem.png'}}"
                >
        
                <img
                *ngIf="schedule.midia === 'audio'"
                src="assets/images/audio.png"
                >
        
                @if(schedule?.video_path && schedule.midia === 'video'){
                  <video autoplay src="{{ schedule?.video_path }}"></video>
                }
                @else {
                  <img
                  *ngIf="schedule.midia === 'video'"
                  src="assets/images/video.png"
                  >
                }
            </div>
            <p class="card-text mt-2" [innerHTML]="processText(schedule.text)">
            </p>
        </div>
    </div>

</div>
