<div class="filters mb-3" *ngIf="!library">
    <div class="row col-12">
        
        <form [formGroup]="form" class="row col-12">
            <div class="col-md-4">
                <label for="description">Descrição</label>
                <input formControlName="description" id="description" type="text" class="form-control" placeholder="Descrição do agendamento">
            </div>
    
            <div class="col-md-4">
                <label for="description">Data de envio</label>
                <input id="date" formControlName="date" type="date" class="form-control">
            </div>
    
            <div class="col-md-2 pt-4">            
                <input (click)="toFilter()" value="Filtrar" id="" type="submit" class="btn btn-green" style="width: 100%;">
            </div>
            <div class="col-md-2 pt-4">            
                <button (click)="openSchedule($event)" class="btn btn-primary" style="width: 100%;">
                    <i class="fa-solid fa-plus"></i>
                    Novo
                </button>
            </div>
        </form>
    </div>
</div>


<button *ngIf="!library" class="btn btn-secondary" (click)="setLybrary()">
    <i class="fa-solid fa-book"></i>
    Biblioteca de Postagens
</button>

<button *ngIf="!library" class="ms-2 btn btn-green" (click)="openAutomation()">
    <i class="fa-solid fa-robot"></i>
    Mensagem de saudação/saída
</button>

<button *ngIf="library" class="btn btn-primary" (click)="setLybrary()">
    <i class="fa-regular fa-calendar"></i>
    Agendamentos
</button>

<button *ngIf="library" (click)="openSchedule($event)" class="ms-3 btn btn-success">
    <i class="fa-solid fa-plus"></i>
    Novo
</button>

<hr>

<div class="mb-4">
    <h3 *ngIf="!library">
        <i class="fa-regular fa-calendar"></i>
        {{ getWeekDay(form.get('date').value) }}
    </h3>


    <h3 *ngIf="library">
        <i class="fa-solid fa-book"></i>
        Sua Biblioteca
    </h3>
</div>

<div id="componentTable" class="col-12 mt-4">
    <app-table-scheduling *ngIf="!library"
    (onSchedulingClick)="openSchedule($event)"
    (onSchedulingImport)="importSchedule($event)"
    (onSchedulingView)="openSchedule($event, true)"
    (onDeleteSchedulingClick)="delete($event)"
    (onSchedulingCopy)="copySchedule($event)"
    [instance_id]="instance_id"
    [loading]="loading"
    [filters]="filters"
    [isAdmin]="isAdmin"
    [isLibrary]="library"
    >
    </app-table-scheduling>

    <app-library-card *ngIf="library"
    [instance_id]="instance_id"
    (onCardClick)="openSchedule($event)"
    (onDeleteClick)="delete($event)"
    [loading]="loading"
    >

    </app-library-card>
</div>