@import "variables";

:host {
  display: flex;
  height: 100%;
}


.card-stats {
  border: 0;
  margin-bottom: 30px;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  background: black !important;
  width: 100%;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.11), 0 7px 10px -5px rgba(0, 0, 0, 0.06);

  .card-header {
    background: rgb(41, 41, 41) !important;
    &.card-header-icon,
    &.card-header-text {
      text-align: right;
    }

    .open, .connecting{
      font-size: 1.1rem;
      border-radius: 10px;
      text-align: center;
      padding: 5px 0;
      margin-top: 5px;
    }

    .open{
      background: green;
    }
    .connecting{
      background: orange;
    }

    .card-icon + .card-title,
    .card-icon + .card-category {
      color: white;
      padding-top: 10px;
      font-size: 1rem;
      width: calc(100% - 100px);
      margin: 0;
      margin-left: 100px;
    }

    &.card-header-icon i {
      font-size: 36px;
      line-height: 56px;
      width: 56px;
      height: 56px;
      text-align: center;
    }

    .card-icon {
      padding: 3px;
      margin-top: -20px;
      margin-right: 15px;
      float: left;
      position: absolute;
      background: rgb(41, 41, 41) !important;
      color: black;
      border-radius: 10px;
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);

      img{
        width: 50px;
      }
    }
  }

  .card-body {
    text-align: right;
  }
}

.card-footer {
  border: none;
  background: rgb(41, 41, 41) !important;

  .stats {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    color: $gray-600;

    p {
      margin: 0;
    }
  }
}


